:root {
  --bg-color: #0C101F;
  --text-white: #ffffff;
  --primary-color: #FC8C2E;
  --card-bg: rgba(255, 255, 255, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-white);
  line-height: 1.6;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}